.frame-child {
  height: 41px;
  width: 178px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue);
  display: none;
}
.request-for-leave {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-5xs) var(--padding-3xs)
    var(--padding-15xl);
  box-sizing: border-box;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
.group-icon {
  position: absolute;
  height: 31.46%;
  width: 6.18%;
  top: 34.15%;
  right: 85.96%;
  bottom: 34.39%;
  left: 7.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 178px;
  height: 41px;
  position: relative;
}
.frame-item {
  height: 134px;
  width: 250px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
}
.comp-off-title-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.span {
  color: var(--color-darkslateblue-100);
}
.span1 {
  color: var(--color-mediumslateblue);
}
.div {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.comp-off-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-7xs) var(--padding-4xl)
    var(--padding-4xs);
  position: relative;
}
.comp-off {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.ellipse-div,
.frame-child1,
.frame-inner {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue);
  width: 8px;
  height: 8px;
  z-index: 1;
}
.ellipse-div,
.frame-child1 {
  top: 18px;
  left: 0;
  background-color: var(--color-mediumslateblue);
}
.frame-child1 {
  top: 35px;
  background-color: var(--color-darkslateblue-100);
}
.ellipse-parent {
  height: 43px;
  width: 9px;
  position: relative;
}
.remaining-3 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.remaining-3-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-2xs);
}
.used-4 {
  height: 8px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.comp-off-status,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-5);
}
.comp-off-status {
  flex-direction: row;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue-300);
}
.comp-off-content,
.comp-off-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comp-off-data {
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.comp-off-content {
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
}
.rectangle-group {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-16xl) var(--padding-11xl);
  gap: var(--gap-lg-5);
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 0;
}
.frame-div,
.leave-type-selection {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.frame-div {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mini);
  min-width: 235px;
  max-width: 255px;
}
.leave-type-selection {
  flex-direction: row;
  justify-content: center;
  gap: 34px;
  max-width: 100%;
}
.leave-type-selection-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.frame-container,
.frame-group,
.frame-parent,
.leave-type-selection-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xl);
  min-width: 723px;
}
.frame-group,
.frame-parent {
  align-self: stretch;
}
.frame-group {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-27xl);
}
.frame-parent {
  flex-direction: column;
  gap: 19px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-lightsteelblue);
  font-family: var(--font-lexend);
}
.frame-child2 {
  width: 14.9px;
  height: 15.9px;
  position: relative;
  z-index: 1;
}
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.view-attendence {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.rectangle-container,
.screen-1-upf-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-container {
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue);
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mid) var(--padding-2xs)
    var(--padding-lgi);
  gap: var(--gap-mini-1);
  flex-shrink: 0;
}
.screen-1-upf-inner {
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
}
.screen-1-upf {
  width: 100%;
  height: 850px;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-87xl) var(--padding-34xl)
    var(--padding-86xl);
  box-sizing: border-box;
  gap: var(--gap-105xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
@media screen and (max-width: 1200px) {
  .leave-type-selection {
    flex-wrap: wrap;
  }
  .screen-1-upf {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .frame-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .leave-type-selection {
    gap: var(--gap-mid);
  }
  .frame-group {
    gap: var(--gap-4xl);
  }
  .screen-1-upf {
    gap: var(--gap-43xl);
    padding-left: var(--padding-33xl);
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .screen-1-upf {
    gap: var(--gap-12xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
