.frame-child46,
.image-1589-icon3 {
  position: relative;
  border-radius: var(--br-mini);
}
.frame-child46 {
  height: 83px;
  width: 1229px;
  box-shadow: 0 8px 28px rgba(72, 89, 102, 0.05);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.image-1589-icon3 {
  height: 51px;
  width: 139px;
  object-fit: cover;
  z-index: 1;
}
.frame-child47 {
  height: 40px;
  width: 0;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.image-1584-icon3 {
  height: 35px;
  width: 35px;
  position: relative;
  border-radius: var(--br-81xl);
  object-fit: cover;
}
.user3 {
  margin: 0;
}
.user-userdomainin3 {
  position: relative;
  font-weight: 300;
}
.image-1584-container,
.user-userdomainin-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-userdomainin-frame {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.image-1584-container {
  flex-direction: row;
  gap: var(--gap-8xs);
  cursor: pointer;
  z-index: 1;
}
.frame-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.vector-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-header,
.frame-wrapper11 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-wrapper11 {
  width: 176px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frame-header {
  align-self: stretch;
  box-shadow: 0 8px 28px rgba(72, 89, 102, 0.05);
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-38xl) var(--padding-base)
    var(--padding-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-lexend);
}
@media screen and (max-width: 1200px) {
  .frame-header {
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
