.frame-child49 {
  height: 134px;
  width: 250px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
}
.frame-child50 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.span8 {
  color: var(--color-darkslateblue-100);
}
.span9 {
  color: var(--color-mediumslateblue);
}
.empty-leave-elements-container {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.frame-parent16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-7xs) var(--padding-4xl)
    var(--padding-4xs);
  position: relative;
}
.half-day-leave {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 112px;
}
.frame-child51,
.frame-child52,
.templates {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue);
  width: 8px;
  height: 8px;
}
.frame-child52,
.templates {
  top: 18px;
  left: 0;
  background-color: var(--color-mediumslateblue);
}
.templates {
  top: 35px;
  background-color: var(--color-darkslateblue-100);
}
.ellipse-group {
  height: 43px;
  width: 9px;
  position: relative;
}
.remaining-34 {
  position: relative;
  font-weight: 300;
}
.remaining-3-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-2xs);
}
.used-44 {
  height: 8px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent17,
.frame-parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-5);
}
.frame-parent17 {
  flex-direction: row;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue-300);
}
.frame-wrapper15,
.half-day-leave-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.half-day-leave-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-wrapper15 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
}
.frame-parent15,
.rectangle-parent23 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent15 {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-lg-5);
  z-index: 1;
}
.rectangle-parent23 {
  flex: 0.78;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  align-items: flex-start;
  padding: var(--padding-12xl) var(--padding-xl) var(--padding-11xl)
    var(--padding-16xl);
  box-sizing: border-box;
  min-width: 195px;
  max-width: 250px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-lightsteelblue);
  font-family: var(--font-lexend);
}
@media screen and (max-width: 450px) {
  .rectangle-parent23 {
    flex: 1;
  }
}
