@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-sm-9: 13.9px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-2xs: 11px;
  --font-size-mid: 17px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-whitesmoke: #f0f3f6;
  --color-mediumslateblue: #3354f4;
  --color-white: #fff;
  --color-gainsboro-100: #e2e2e2;
  --color-gainsboro-200: #d5d9dd;
  --color-lavenderblush: #ffe5ee;
  --color-firebrick: #aa0000;
  --color-darkslateblue-100: #252c58;
  --color-darkslateblue-200: #20285a;
  --color-darkslateblue-300: rgba(37, 44, 88, 0.5);
  --color-lightsteelblue: #a3aed0;
  --color-royalblue: #597aff;
  --color-darkgray: #b3b3b3;
  --color-dimgray: #727272;
  --color-steelblue-100: #595e8a;
  --color-steelblue-200: rgba(89, 94, 138, 0.09);

  /* Gaps */
  --gap-105xl: 124px;
  --gap-12xl: 31px;
  --gap-43xl: 62px;
  --gap-mini-1: 14.1px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-7xl: 26px;
  --gap-38xl-2: 57.2px;
  --gap-10xl: 29px;
  --gap-24xl-4: 43.4px;
  --gap-3xl: 22px;
  --gap-lg-7: 18.7px;
  --gap-sm-6: 13.6px;
  --gap-xl: 20px;
  --gap-mini-7: 14.7px;
  --gap-base-5: 16.5px;
  --gap-mid: 17px;
  --gap-mini: 15px;
  --gap-lg-5: 18.5px;
  --gap-6xs: 7px;
  --gap-9xs: 4px;
  --gap-3xs-5: 9.5px;
  --gap-28xl: 47px;
  --gap-11xs: 2px;
  --gap-8xs: 5px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-4xs: 9px;
  --gap-10xl-7: 29.7px;
  --gap-lg: 18px;
  --gap-2xs-6: 10.6px;
  --gap-9xl: 28px;
  --gap-45xl: 64px;
  --gap-12xs: 1px;
  --gap-smi: 13px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-25xl: 44px;
  --gap-81xl-7: 100.7px;
  --gap-40xl-1: 59.1px;
  --gap-lgi-2: 19.2px;
  --gap-smi-6: 12.6px;
  --gap-lgi-1: 19.1px;
  --gap-136xl: 155px;
  --gap-10xl-9: 29.9px;
  --gap-60xl: 79px;
  --gap-3xs: 10px;
  --gap-11xs-5: 1.5px;

  /* Paddings */
  --padding-8xl: 27px;
  --padding-87xl: 106px;
  --padding-34xl: 53px;
  --padding-86xl: 105px;
  --padding-xl: 20px;
  --padding-33xl: 52px;
  --padding-mid: 17px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-lgi: 19px;
  --padding-12xs: 1px;
  --padding-16xl: 35px;
  --padding-44xl: 63px;
  --padding-4xl: 23px;
  --padding-22xl: 41px;
  --padding-4xs: 9px;
  --padding-10xs: 3px;
  --padding-3xs: 10px;
  --padding-9xl: 28px;
  --padding-4xs-3: 8.3px;
  --padding-5xs-8: 7.8px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-20xl: 39px;
  --padding-9xs: 4px;
  --padding-smi: 13px;
  --padding-5xl: 24px;
  --padding-8xs: 5px;
  --padding-12xl: 31px;
  --padding-11xl: 30px;
  --padding-7xs: 6px;
  --padding-15xl: 34px;
  --padding-7xl: 26px;
  --padding-base: 16px;
  --padding-38xl: 57px;
  --padding-11xs: 2px;
  --padding-42xl: 61px;
  --padding-13xl: 32px;
  --padding-31xl: 50px;
  --padding-40xl: 59px;
  --padding-76xl: 95px;
  --padding-78xl: 97px;
  --padding-41xl: 60px;
  --padding-sm: 14px;
  --padding-lg: 18px;
  --padding-112xl: 131px;
  --padding-46xl: 65px;
  --padding-2xl: 21px;
  --padding-3xl: 22px;
  --padding-2xs-7: 10.7px;
  --padding-base-4: 15.4px;
  --padding-19xl: 38px;
  --padding-21xl: 40px;
  --padding-6xl: 25px;
  --padding-mini: 15px;
  --padding-11xs-3: 1.3px;
  --padding-196xl: 215px;
  --padding-48xl: 67px;
  --padding-111xl: 130px;
  --padding-25xl: 44px;
  --padding-30xl: 49px;
  --padding-27xl: 46px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-7xs: 6px;
  --br-81xl: 100px;
  --br-6xl: 25px;
}
